---
apiVersion: v1
kind: Namespace
metadata:
  name: volsync-system
  labels:
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/warn: privileged
    kustomize.toolkit.fluxcd.io/prune: disabled
  annotations:
    volsync.backube/privileged-movers: "true"
