---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app home-assistant
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.6.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  values:
    controllers:
      home-assistant:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            enabled: false
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 14
            envFrom: &envFrom
              - secretRef:
                  name: home-assistant-secrets
        containers:
          app:
            image:
              repository: ghcr.io/onedr0p/home-assistant
              tag: 2025.1.2@sha256:7103698ead18144a39ae5412467fe1885331367aeb22a9c2046640f0c8f84cf7
            envFrom: *envFrom
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 2Gi
          code:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.96.2@sha256:6b8c0e944caec80057e71d2c2f352cee38fe00ae4b7515fc4458eb300844f699
            args: [
              "--auth", "none",
              "--user-data-dir", "/config/.vscode",
              "--extensions-dir", "/config/.vscode",
              "--port", "8081",
              "/config"
            ]
            envFrom:
              - secretRef:
                  name: code-server-secrets
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: *app
        type: LoadBalancer
        loadBalancerIP: ${SVC_HASS_ADDR}
        externalTrafficPolicy: Local
        ports:
          http:
            port: 8123
      code:
        type: ClusterIP
        controller: *app
        ports:
          http:
            port: 8081
    ingress:
      app:
        className: external
        annotations:
          hajimari.io/icon: mdi:home-assistant
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_CLUSTER_DOMAIN}"
        hosts:
          - host: &host "hass.${SECRET_CLUSTER_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
      code:
        className: internal
        hosts:
          - host: &host "hass-code.${SECRET_CLUSTER_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: code
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /config
      logs:
        type: emptyDir
        globalMounts:
          - path: /config/logs
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
      deploy-key:
        type: secret
        name: code-server-secrets
        defaultMode: 420  # 644 (octal) in decimal
        advancedMounts:
          home-assistant:
            code:
              - path: /home/coder/.ssh/id_rsa
                subPath: GIT_DEPLOY_KEY
