---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app openwebui
spec:
  chartRef:
    kind: OCIRepository
    name: openwebui
  interval: 1h
  dependsOn:
    - name: mcpo
      namespace: ai
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: uninstall
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      openwebui:
        type: deployment

        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: "17.6"
            envFrom: &envFrom
              - secretRef:
                  name: openwebui-secret

        containers:
          app:
            image:
              repository: ghcr.io/open-webui/open-webui
              tag: 0.7.2@sha256:16d9a3615b45f14a0c89f7ad7a3bf151f923ed32c2e68f9204eb17d1ce40774b
            env:
              OLLAMA_BASE_URL: http://ollama.ai.svc:11434
              # # MCPO Integration
              # MCPO_BASE_URL: http://mcpo.ai.svc:8080
              # ENABLE_MCP_INTEGRATION: "true"
              # MCP_TIMEOUT: "30"
              # MCP_RETRY_ATTEMPTS: "3"
              # MCP_SERVER_NAME: "mcpo"
              # # Additional MCP Configuration
              # ENABLE_MCP_TOOLS: "true"
              # ENABLE_MCP_RESOURCES: "true"
              # ENABLE_MCP_PROMPTS: "true"
              # ENABLE_RAG_WEB_SEARCH:
              # RAG_WEB_SEARCH_ENGINE:
              # SEARXNG_QUERY_URL:
            envFrom: *envFrom

            resources:
              requests:
                cpu: 500m
                memory: 2Gi
              limits:
                memory: 2Gi

            # probes:
            #   liveness:
            #     enabled: true
            #   readiness:
            #     enabled: true
            #   startup:
            #     enabled: false

    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 8080
            appProtocol: kubernetes.io/ws

    ingress:
      app:
        enabled: false
        className: internal
        hosts:
          - host: &host "chat.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
    route:
      app:
        enabled: true
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        hostnames:
          - *host
    persistence:
      config:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /app/backend/data
