apiVersion: v1
kind: Service
metadata:
  name: tesla-proxy
  namespace: home
spec:
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 4430
      targetPort: 4430
    # - protocol: TCP
    #   port: 8888
    #   targetPort: 8888
  externalIPs:
    - ${SECRET_ORANGEPI_IP}
---
apiVersion: v1
kind: Endpoints
metadata:
  name: tesla-proxy
  namespace: home
subsets:
  - addresses:
      - ip: ${SECRET_ORANGEPI_IP}
    ports:
      - port: 4430
      # - port: 8888
