---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tesla-proxy
  namespace: home
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      tesla-proxy:

        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: iainbullock/tesla_http_proxy
              tag: v1.0.5
            env:
              DOMAIN: tesla-proxy.${SECRET_DOMAIN}
            envFrom:
              - secretRef:
                  name: tesla-proxy-secrets
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 1000m
                memory: 2Gi
              limits:
                memory: 8Gi
          code:
            dependsOn: app
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.108.1
            args:
              - --auth
              - "none"
              - --user-data-dir
              - "/config/.vscode"
              - --extensions-dir
              - "/config/.vscode"
              - --port
              - "8081"
              - /config
            envFrom:
              - secretRef:
                  name: code-server-secrets #Use the same as home assistant
    service:
      app:
        controller: *app
        type: LoadBalancer
        loadBalancerIP: ${SVC_HASS_ADDR}
        externalTrafficPolicy: Local
        ports:
          http:
            port: 8090
          https:
            port: 443
      code:
        type: ClusterIP
        controller: *app
        ports:
          http:
            port: 8081

    ingress:
      app:
        enabled: false
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
          external-dns.home.arpa/enabled: "true"
        hosts:
          - host: &hostApp "tesla-proxy.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *hostApp

      code:
        enabled: false
        className: internal
        hosts:
          - host: &hostCode "tesla-code.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: code
                  port: http
        tls:
          - hosts:
              - *hostCode

    route:
      app:
        enabled: false
      code:
        enabled: false
