---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app litellm
spec:
  chartRef:
    kind: OCIRepository
    name: litellm
  interval: 1h
  timeout: 10m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: uninstall
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      litellm:
        type: deployment

        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: "18.3"
            envFrom: &envFrom
              - secretRef:
                  name: litellm-secret

        containers:
          app:
            image:
              repository: ghcr.io/berriai/litellm
              tag: main-stable
            # env:
            #   TZ: ${TIMEZONE}
            args:
              - "--config"
              - "/app/proxy_config.yaml"

            resources:
              requests:
                cpu: 500m
                memory: 1Gi
              limits:
                memory: 1Gi

            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health/liveliness
                    port: 4000
                  initialDelaySeconds: 120
                  periodSeconds: 15
                  successThreshold: 1
                  failureThreshold: 3
                  timeoutSeconds: 10
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health/readiness
                    port: 4000
                  initialDelaySeconds: 20
                  periodSeconds: 15
                  successThreshold: 1
                  failureThreshold: 3
                  timeoutSeconds: 10

    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 4000

    ingress:
      app:
        enabled: false
        className: internal
        hosts:
          - host: &host "litellm.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    route:
      app:
        enabled: true
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        hostnames:
          - *host

    persistence:
      config-file:
        type: secret
        name: litellm-secret
        globalMounts:
          - path: /app/proxy_config.yaml
            subPath: litellm.yaml
