---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: ghostfolio
  namespace: default
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler-secrets
  target:
    name: ghostfolio-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # Postgres database
        INIT_POSTGRES_DBNAME: &dbname ghostfolio
        INIT_POSTGRES_HOST: postgres16-rw.database.svc.cluster.local
        INIT_POSTGRES_USER: "{{ .GHOST_POSTGRES_USER }}"
        INIT_POSTGRES_PASS: "{{ .GHOST_POSTGRES_PASSWORD }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"

        # Ghostfolio
        POSTGRES_DB: *dbname
        DATABASE_URL: postgresql://{{ .GHOSTFOLIO_POSTGRES_USER }}:{{ .GHOSTFOLIO_POSTGRES_PASSWORD }}@postgres16-rw.database.svc.cluster.local:5432/ghostfolio?sslmode=prefer
        ACCESS_TOKEN_SALT: "{{ .GHOST_ACCESS_TOKEN_SALT }}"
        JWT_SECRET_KEY: "{{ .GHOST_JWT_SECRET_KEY }}"

  dataFrom:
    - find:
        path: GHOST_
    - find:
        path: POSTGRES_
