# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qbittorrent
  namespace: media
spec:
  chartRef:
    kind: OCIRepository
    name: qbittorrent
  interval: 1h
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      qbittorrent:
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4@sha256:56ecd30a7f5e1357daf5eea2a6935134d329b7b268a3a9b9c67041b65fb87fc6
            env:
              TZ: ${TIMEZONE}
              QBT_WEBUI_PORT: &port 8080
              QBT_TORRENTING_PORT: &torrentPort 50413
              QBT_Preferences__WebUI__AuthSubnetWhitelist: "10.0.0.0/8"
              QBT_Preferences__WebUI__AuthSubnetWhitelistEnabled: "true"
              QBT_Preferences__WebUI__LocalHostAuth: true
              QBT_Preferences__WebUI__BypassLocalAuth: true
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  exec:
                    command:
                      - curl
                      - -f
                      - http://localhost:8080/api/v2/app/version
                  initialDelaySeconds: 30
                  periodSeconds: 30
                  timeoutSeconds: 10
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                custom: true
                spec:
                  exec:
                    command:
                      - curl
                      - -f
                      - http://localhost:8080/api/v2/app/version
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 10
                  failureThreshold: 30
            securityContext:
              runAsUser: 568
              runAsGroup: 568
              runAsNonRoot: true
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
                memory: 512Mi
              limits:
                memory: 4Gi
          gluetun:
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.41.0@sha256:6b54856716d0de56e5bb00a77029b0adea57284cf5a466f23aad5979257d3045
            env:
              DOT: "off"
              DNS_ADDRESS: "10.96.0.10"
              # VPN_SERVICE_PROVIDER: custom
              # VPN_TYPE: wireguard
              # VPN_INTERFACE: wg0
              # WIREGUARD_ENDPOINT_PORT: 51820
              # VPN_PORT_FORWARDING: on
              # VPN_PORT_FORWARDING_PROVIDER: protonvpn
              # FIREWALL_INPUT_PORTS: *port
              # FIREWALL_OUTBOUND_SUBNETS: 10.69.0.0/16,10.96.0.0/16
              VPN_SERVICE_PROVIDER: expressvpn
              VPN_TYPE: openvpn
              # SERVER_COUNTRIES: Singapore
              FIREWALL_INPUT_PORTS: *port
              FIREWALL_OUTBOUND_SUBNETS: 10.69.0.0/16,10.96.0.0/16
            envFrom:
              - secretRef:
                  name: qbittorrent-secrets
            resources:
              requests:
                cpu: 100m
                memory: 128Mi
                squat.ai/tun: "1"
              limits:
                memory: 512Mi
                squat.ai/tun: "1"
            securityContext:
              runAsUser: 0
              capabilities: { add: ["NET_ADMIN"] }
              allowPrivilegeEscalation: true
              privileged: true

    service:
      app:
        controller: *app
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: ${SVC_QBITTORRENT_ADDR}
        ports:
          http:
            port: *port
            appProtocol: kubernetes.io/ws
          bittorrent:
            enabled: true
            port: *torrentPort
            protocol: TCP
          bittorrent-udp:
            enabled: true
            port: *torrentPort
            protocol: UDP

    ingress:
      app:
        enabled: false
        className: internal
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    route:
      app:
        enabled: true
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        hostnames:
          - *host

    persistence:
      config:
        existingClaim: qbittorrent
      media:
        type: nfs
        server: 10.20.0.3
        path: /volume1/Downloads/
        globalMounts:
          - path: /media/Downloads
      tmp:
        type: emptyDir
