## minimal configuration example

site:
  title: Home # display name for UI
  meters:
    grid: my_grid
    pv:
      - my_pv
    battery:
      - my_battery # battery meter reference
    # residualPower: 0 # set to 0 to disable residual power

# define your loadpoints according your needs
# see https://docs.evcc.io/en/docs/reference/configuration/loadpoints
loadpoints:
  - title: Garage # display name for UI
    charger: my_charger # charger
    vehicle: my_car # default vehicle
    # enable:
      # threshold: 100 #Allow for 100w draw from grid
      # delay: 0s #Home assistant caters for this - Start immediately when triggered

# meter definitions
# name can be freely chosen and is used as reference when assigning meters to site and loadpoints
# for documentation see https://docs.evcc.io/docs/devices/meters
meters:
  # - name: my_grid
  #   type: template
  #   template: enphase
  #   usage: grid
  #   host: {{ .EVCC_ENPHASE_IP }}
  #   token: {{ .EVCC_ENPHASE_ACCESS_TOKEN }}

  - name: my_grid
    type: template
    template: sigenergy
    usage: grid
    host: {{ .EVCC_SIGEN_IP }}
    port: 502 # Port, optional
    id: 1 # ID, optional

  - name: my_pv
    type: template
    template: enphase
    usage: pv
    host: {{ .EVCC_ENPHASE_IP }}
    token: {{ .EVCC_ENPHASE_ACCESS_TOKEN }}

  - name: my_battery
    type: template
    template: sigenergy
    usage: battery
    host: {{ .EVCC_SIGEN_IP }}
    port: 502 # Port, optional
    capacity: 24

# charger definitions
# name can be freely chosen and is used as reference when assigning chargers to loadpoints
# for documentation see https://docs.evcc.io/docs/devices/chargers
chargers:
  - name: my_charger
    type: template
    template: victron-evcs
    # Modbus TCP
    modbus: tcpip
    id: 1
    host: {{ .EVCC_CHARGER_IP }}
    port: 502 # Port

# vehicle definitions
# name can be freely chosen and is used as reference when assigning vehicles to loadpoints
# for documentation see https://docs.evcc.io/docs/devices/vehicles
vehicles:
  - name: my_car
    type: template
    template: teslamate
    capacity: 59.9
    mode: pv

# enter your real grid tariff and feed-in price
# see https://docs.evcc.io/docs/devices/tariffs
tariffs:
  currency: AUD
  grid:
    type: custom
    price:
      source: mqtt
      topic: ambermqtt/amber_5min_current_general_price/attributes
      timeout: 10m
      jq: .spot_per_kwh
  feedin:
    type: custom
    price:
      source: mqtt
      topic: ambermqtt/amber_5min_current_feedin_price/attributes  # Verify this topic name
      timeout: 10m
      jq: .spot_per_kwh

  co2:
    type: template
    template: electricitymaps-free
    token: {{ .EVCC_CO2_TOKEN }}
    zone: AU # see https://api.electricitymap.org/v3/zones

# mqtt message broker
mqtt:
  broker: mosquitto.home.svc.cluster.local:1883
  topic: evcc # root topic for publishing, set empty to disable
  user: {{ .MQTT_USERNAME }}
  password: {{ .MQTT_PASSWORD }}
