---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: mosquitto-secret
  namespace: home
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler-secrets
  target:
    name: mosquitto-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        username: "{{ .MQTT_USERNAME }}"
        password: "{{ .MQTT_PASSWORD }}"
        mosquitto_pwd: |
          {{ .MQTT_USERNAME }}:{{ .MQTT_PASSWORD }}
        ca_crt: |
          {{ .MQTT_CA }}
        server_crt: |
          {{ .MQTT_SERVER_CRT }}
        server_key: |-
          {{ .MQTT_SERVER_KEY }}

  dataFrom:
    - find:
        path: MQTT_
