---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: amber2mqtt
  namespace: home
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler-secrets
  target:
    name: amber2mqtt-config
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        options.json: |
          {
              "amber": {
                  "site_id": "{{ .AMBER_SITE_ID }}",
                  "access_token": "{{ .AMBER_ACCESS_TOKEN }}",
                  "amber5minPrice_seconds": "14,16,18,19,21,23,25,27,30,32,35,40,45,50,55",
                  "amber5minPrice_minutes": "0-1,5-6,10-11,15-16,20-21,25-26,30-31,35-36,40-41,45-46,50-51,55-56",
                  "forecast5min": "True",
                  "forecast30min": "True",
                  "forecastUser": "True",
                  "forecast288": "True"
              },
              "integration": {
                  "amber2mqtt": "True"
              },
              "aemo": {
                  "aemo5minPrice_seconds": "5,7,9,11,13,15,17,19,21,23,25,28,30,32,35,40,45,50,55",
                  "aemo5minPrice_minutes": "0-1,5-6,10-11,15-16,20-21,25-26,30-31,35-36,40-41,45-46,50-51,55-56"
              },
              "mqtt": {
                  "broker": "{{ .MQTT_BROKER }}",
                  "port": {{ .MQTT_PORT }},
                  "client_id": "amber-2-mqtt",
                  "debug": "True"{{ if .MQTT_USERNAME }},
                  "username": "{{ .MQTT_USERNAME }}"{{ end }}{{ if .MQTT_PASSWORD }},
                  "password": "{{ .MQTT_PASSWORD }}"{{ end }}
              }
          }
  dataFrom:
    - find:
        path: AMBER_
    - find:
        path: MQTT_
