---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  - ./garmin-mcp/ks.yaml
  - ./litellm/ks.yaml
  - ./mcpo/ks.yaml
  - ./openwebui/ks.yaml
