---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app photoprism
  namespace: media
spec:
  chartRef:
    kind: OCIRepository
    name: photoprism
  interval: 1h
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: uninstall
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      photoprism:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: photoprism/photoprism
              tag: 240915

            env:
              TZ: "${TIMEZONE}"
              PHOTOPRISM_SITE_URL: https://photos.${SECRET_DOMAIN}/
              PHOTOPRISM_SITE_TITLE: Home Photos
              PHOTOPRISM_SITE_AUTHOR: Jon
              PHOTOPRISM_ORIGINALS_PATH: /photoprism/media/
              PHOTOPRISM_STORAGE_PATH: /photoprism/storage/
              PHOTOPRISM_IMPORT_PATH: /photoprism/unsorted/
              # PHOTOPRISM_DATABASE_SERVER:
              # PHOTOPRISM_DATABASE_NAME: photoprism
              # PHOTOPRISM_DATABASE_USER: photoprism
              # PHOTOPRISM_DATABASE_PASSWORD:

            envFrom:
              - secretRef:
                  name: photoprism-secrets

    service:
      app:
        controller: *app
        ports:
          http:
            port: 2342

    ingress:
      app:
        enabled: true
        className: internal
        hosts:
          - host: &host "photos.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    route:
      app:
        enabled: true
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        hostnames:
          - *host

    persistence:
      config:
        existingClaim: photoprism
        globalMounts:
          - path: /photoprism/storage
      media:
        existingClaim: media-nfs-photos
        globalMounts:
          - path: /photoprism/media
      unsorted:
        existingClaim: media-nfs-photos-unsorted
        globalMounts:
          - path: /photoprism/unsorted
