---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: emhass-secret
  namespace: home
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler-secrets
  target:
    name: emhass-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        config.json: |
          {
            "hass_url": "{{ .HASS_EXTERNAL_URL }}",
            "long_lived_token": "{{ .EMHASS_API_KEY }}",
            "time_zone": "Australia/Sydney",
            "Latitude": "{{ .HASS_HOME_LATITUDE }}",
            "Longitude": "{{ .HASS_HOME_LONGITUDE }}",
            "Altitude": "{{ .HASS_HOME_ELEVATION }}",
            "solcast_api_key": "{{ .SOLCAST_API_KEY }}",
            "solcast_rooftop_id": "{{ .SOLCAST_ROOFTOP_ID }}",
            "solar_forecast_kwp": "9.4",
            "continual_publish": true,
            "method_ts_round": "first",
            "def_load_config": [
              {},
              {
                "thermal_config": {
                  "heating_rate": 2.4,
                  "cooling_constant": 0.1,
                  "overshoot_temperature": 65.0,
                  "start_temperature": 20,
                  "desired_temperatures": []
                }
              }
            ]
          }
  dataFrom:
    - find:
        path: EMHASS_
    - find:
        path: SOLCAST_
    - find:
        path: HASS_
