---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: emhass-secret
  namespace: home
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler-secrets
  target:
    name: emhass-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        secrets_emhass.yaml: |
          hass_url: {{ .HASS_EXTERNAL_URL }}
          long_lived_token: {{ .EMHASS_API_KEY }}
          time_zone: Australia/Sydney
          lat: {{ .HASS_HOME_LATITUDE }}
          lon: {{ .HASS_HOME_LONGITUDE }}
          alt: {{ .HASS_HOME_ELEVATION }}
          solcast_api_key: {{ .SOLCAST_API_KEY }}
          solcast_rooftop_id: {{ .SOLCAST_ROOFTOP_ID }}
          solar_forecast_kwp: 9.4
          continual_publish: true
          method_ts_round: first
  dataFrom:
    - find:
        path: EMHASS_
    - find:
        path: SOLCAST_
    - find:
        path: HASS_
