---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: cloudnative-pg-secrets
  namespace: database
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler-secrets
  target:
    name: cloudnative-pg-secrets
  data:
    - remoteRef:
        key: MINIO_ACCESS_KEY
      secretKey: MINIO_ACCESS_KEY
    - remoteRef:
        key: MINIO_SECRET_KEY
      secretKey: MINIO_SECRET_KEY
    - remoteRef:
        key: POSTGRES_SUPER_USER
      secretKey: POSTGRES_SUPER_USER
    - remoteRef:
        key: POSTGRES_SUPER_PASS
      secretKey: POSTGRES_SUPER_PASS
