---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/gateway.networking.k8s.io/backendtlspolicy_v1.json
apiVersion: gateway.networking.k8s.io/v1
kind: BackendTLSPolicy
metadata:
  name: unifi
  namespace: network
spec:
  targetRefs:
    - group: ""
      kind: Service
      name: unifi
      sectionName: "8443"
  validation:
    wellKnownCACertificates: System
    hostname: unifi.network.svc.cluster.local
