---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: evcc
  namespace: home
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler-secrets
  target:
    name: evcc-secret
    creationPolicy: Owner
    template:
      templateFrom:
        - configMap:
            name: evcc-configmap
            items:
              - key: evcc.yaml
  dataFrom:
    - find:
        path: EVCC_
    - find:
        path: MQTT_
