---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app evcc
  namespace: home
spec:
  chartRef:
    kind: OCIRepository
    name: evcc
  interval: 1h
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: uninstall
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      evcc:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: evcc/evcc
              tag: 0.300.4
            envFrom:
              - secretRef:
                  name: evcc-secret
            resources:
              limits: &resources
                memory: 128Mi
              requests:
                <<: *resources
                cpu: 10m

    service:
      app:
        controller: *app
        ports:
          http:
            port: 7070

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https

    persistence:
      config:
        existingClaim: evcc
        globalMounts:
          - path: /root/.evcc
      config-file:
        type: secret
        name: evcc-secret
        globalMounts:
          - path: /etc/evcc.yaml
            subPath: evcc.yaml
            readOnly: false
