---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: home
resources:
  - ./externalsecret.yaml
  # - ./helmrelease.yaml
  - ../../../../templates/volsync
configMapGenerator:
  - name: evcc-configmap
    files:
      - evcc.yaml=./config/evcc.yaml
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
