---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-operator
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: rook-ceph
      version: v1.19.2
      sourceRef:
        kind: HelmRepository
        name: rook-ceph
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: snapshot-controller
      namespace: volsync-system
  values:
    csi:
      cephFSKernelMountOptions: ms_mode=prefer-crc
      enableLiveness: true
      serviceMonitor:
        enabled: true
      grpcTimeoutInSeconds: 300
      pluginPriorityClassName: system-node-critical
      provisionerPriorityClassName: system-cluster-critical
      enableCSIHostNetwork: true
      csiRBD:
        registrar:
          resources:
            requests:
              memory: 128Mi
              cpu: 50m
            limits:
              memory: 256Mi
          readinessProbe:
            exec:
              command: ["/bin/sh", "-c", "test -e /csi/csi.sock"]
            initialDelaySeconds: 5
            periodSeconds: 5
          lifecycle:
            preStop:
              exec:
                command: ["/bin/sh", "-c", "rm -f /registration/rook-ceph.rbd.csi.ceph.com-reg.sock && rm -f /csi/csi.sock"]
      csiCephFS:
        registrar:
          resources:
            requests:
              memory: 128Mi
              cpu: 50m
            limits:
              memory: 256Mi
          readinessProbe:
            exec:
              command: ["/bin/sh", "-c", "test -e /csi/csi.sock"]
            initialDelaySeconds: 5
            periodSeconds: 5
          lifecycle:
            preStop:
              exec:
                command: ["/bin/sh", "-c", "rm -f /registration/rook-ceph.cephfs.csi.ceph.com-reg.sock && rm -f /csi/csi.sock"]
    enableDiscoveryDaemon: true
    monitoring:
      enabled: true
    resources:
      requests:
        memory: 128Mi
        cpu: 100m
      limits: {}
